<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd" >
    
    
    <bean name="helloTuneService" class="com.spring.learn.HelloTune"></bean>
    <bean name="missedCallService" class="com.spring.learn.MissedCall"></bean>
    <bean name="dataServices" class="com.spring.learn.DataServices"></bean>
    <bean name="Airtel" class="com.spring.learn.Airtel">
      <property name="serv" ref="helloTuneService"/>
    </bean>
        
    </beans>